# Ignore everything on root level
/*

# Ignore always
*csproj.user
bin/
obj/

# Add source files
!/src/
!/tests/
!/packaging/

# Config files
!/.config/
/.config/*
!/.config/dotnet-tools.json

!/.github/

# Add root level files
!/.editorconfig
!/BannedSymbols.txt
!/.gitignore
!/Cogwork.slnx
!/CONTRIBUTING.md
!/Directory.Build.props
!/Directory.Build.targets
!/icon.png
!/LICENSE
!/README.md
